* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background: url(../images/titled.jpg) no-repeat center center / cover;
}

nav{
    background: url(../images/Untitled.jpg) no-repeat center center / cover;
    color: #9f9d9d;
    display: flex;
    padding: 30px 10px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bolder;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div{
        max-width: 30%;
        background-color: grey;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        margin: 10px;
        width: 40%;
        border-radius: 1rem;
        border-bottom: 1px solid whitesmoke;

        i{
            color: rgb(1, 1, 63);
            font-size: 40px;
        }
        a{
            color: rgb(1, 1, 63);
            font-size: 20px;
            text-decoration: none;
            animation: ToAnimate 3s linear infinite;
        }
        a:hover{
            text-decoration: underline;
            text-underline-offset: 8px;
            animation: none;
        }
    }
}
@keyframes ToAnimate {
    0%,100% { transform: scale(1); }
    50%    { transform: scale(1.3); }
}

@media (max-width: 600px) {
    div{
        min-width: 90%;
    }
}