* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: url(../images/titled.jpg) no-repeat center center / cover;
    line-height: 1.6;
    font-family: Arial, sans-serif;
}

main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
}