* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background: url(../images/titled.jpg) no-repeat center center / cover;
}

nav{
    background: url(../images/Untitled.jpg) no-repeat center center / cover;
    color: #9f9d9d;
    position: relative;
    display: flex;
    padding: 40px 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 14px;
    font-weight: bolder;

    button{
        background: #9f9d9d;
        border: none;
        padding: 10px;
        border-radius: 15px 5px;
        font-weight: bolder;
        color: white;
        animation: button 3s linear infinite;
        border-left: 2px solid white;
        border-right: 2px solid white;
    }
    button:hover{
        animation: none;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.671);
    }
}
@keyframes button {
    0%,100% { transform: scale(1); }
    50%    { transform: scale(1.12); }
}
aside{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5cm;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-size: 40px;
    font-weight: bolder;
}
@media (max-width: 425px) {
    aside{
        font-size: 20px;
        padding: 20px;
    }
}
article {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    font-size: 25px;
}

article > div {
    flex: 1 1 calc(45% - 1rem);
    max-width: 300px;
    min-width: 200px;
    background: #9f9d9d4d;
    padding: 20px;
    border: 0.1px solid rgba(255, 255, 255, 0.288);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    line-height: 4.5rem;
}

article > div a {
    background: rgb(1, 1, 20);
    color: rgba(255, 255, 255, 0.445);
    text-decoration: none;
    padding: 10px;
    border-radius: 0.3rem;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 29px;
}
.circle-animation{
    width: 80px;
    height: 80px;
    background: rgb(1, 1, 20);
    border-radius: 3rem;
    animation: zoomInOut 3s ease-in-out infinite;
}

footer{
    background: url(../images/Untitled.jpg) no-repeat center center / cover;
    color: rgba(255, 255, 255, 0.452);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    right: 0;
    height: 15vh;
    width: 100%;
    padding: 20px;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
