* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
html {
    scroll-behavior: smooth;
}

body {
    background: url(../images/titled.jpg) no-repeat center center / cover;
    line-height: 1.6;
    font-family: Arial, sans-serif;
}
.myhead{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 170px;
    h3{
        font-size: 30px;
    }
    span{
        display: flex;
        margin: 30px;
        gap: 2cm;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgb(50, 46, 46);
            color: #ddd;
            border: 5px solid #6f6d6d;
            border-radius: 1rem;
            width: 33%;
            h4{
                font-size: 20px;
                margin: 10px 0px 20px 0px;
                text-decoration: underline;
                text-underline-offset: 6px;
            }
            p{
                width: 80%;
            }
            button{
                padding: 10px;
                border-radius: 1rem;
                border: none;
                background-color: blue;
                margin: 10px 0px 20px 0px;
                a{
                    text-decoration: none;
                    color: #ddd;
                    font-size: 15px;
                }
            }
            button:hover{
                background-color: rgb(57, 57, 237);
            }
        }
    }
}
#sidenav{
    position: absolute;
    top: 0;
    display: none;
    line-height: 2cm;
    font-weight: bolder;
    background: #0e0c0cef;
    height: 100%;
    width: 100%;
    transition: top 0.5s ease;
    i{
        position: absolute;
        right: 0;
        top: 0;
        background: none;
        font-size: 40px;
        color: #9f9d9d;
    }
    i:hover{
        color: #6f6d6d;
    }
    ul{
        margin: 100px 0px 0px 80px;
        li{
            list-style: none;
            a{
                text-decoration: none;
                font-size: 30px;
                color: #9f9d9d;
            }
            a:hover{
                text-decoration: underline;
                text-underline-offset: 10px;
                color: #6f6d6d;
            }
        }
    }
}
.topnav{
    background: url(../images/Untitled.jpg) no-repeat center center / cover;
    position: fixed;
    top: 0;
    display: flex;
    padding: 20px;
    left: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: bolder;
    align-items: center;
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1cm;
        margin-left: 30px;
        color: #9f9d9d;
    }
    i{
        display: none;
    }
    a{
        color: #9f9d9d;
    }
    a:hover{
        color: #6f6d6d;
    }
    ul{
        display: flex;
        gap: 6cm;
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: #9f9d9d;
                font-weight: bolder;
            }
            a:hover{
                color: #6f6d6d;
            }
            a:active{
                text-decoration: underline;
                color: rgb(237, 81, 107);
            }
        }
    }
}

@media (max-width: 768px) {
    .topnav{
        ul{
            display: none;
        }
        i{
            display: flex;
            margin-left: -30px;
        }
    }

    .myhead{
        margin-top: 100px;
        span{
            flex-direction: column;
            div{
                min-width: 100%;
            }
        }
    }
    footer{
        p{
            padding: 30px;
        }
    }
}
@media (min-width: 769px) {
    .topnav{
        ul{
            display: flex;
            gap: 2cm;
        }
    }
}